<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FilterDispatcher</filter-name>
        <filter-class>com.filters.FilterDispatcher</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterDispatcher</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>com.controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>com.controllers.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListCakeController</servlet-name>
        <servlet-class>com.controllers.ListCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>com.controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddCartController</servlet-name>
        <servlet-class>com.controllers.AddCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckoutController</servlet-name>
        <servlet-class>com.controllers.CheckoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveController</servlet-name>
        <servlet-class>com.controllers.RemoveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelCartController</servlet-name>
        <servlet-class>com.controllers.CancelCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListAllCakeController</servlet-name>
        <servlet-class>com.controllers.ListAllCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCakeController</servlet-name>
        <servlet-class>com.controllers.UpdateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateCakeController</servlet-name>
        <servlet-class>com.controllers.CreateCakeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListLogController</servlet-name>
        <servlet-class>com.controllers.ListLogController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserSearchController</servlet-name>
        <servlet-class>com.controllers.UserSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminSearchController</servlet-name>
        <servlet-class>com.controllers.AdminSearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrackController</servlet-name>
        <servlet-class>com.controllers.GetTrackController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetTrackDetailController</servlet-name>
        <servlet-class>com.controllers.GetTrackDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderController</servlet-name>
        <servlet-class>com.controllers.OrderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListCakeController</servlet-name>
        <url-pattern>/ListCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddCartController</servlet-name>
        <url-pattern>/AddCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckoutController</servlet-name>
        <url-pattern>/CheckoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveController</servlet-name>
        <url-pattern>/RemoveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelCartController</servlet-name>
        <url-pattern>/CancelCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListAllCakeController</servlet-name>
        <url-pattern>/ListAllCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCakeController</servlet-name>
        <url-pattern>/UpdateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateCakeController</servlet-name>
        <url-pattern>/CreateCakeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListLogController</servlet-name>
        <url-pattern>/ListLogController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserSearchController</servlet-name>
        <url-pattern>/UserSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminSearchController</servlet-name>
        <url-pattern>/AdminSearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrackController</servlet-name>
        <url-pattern>/GetTrackController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetTrackDetailController</servlet-name>
        <url-pattern>/GetTrackDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderController</servlet-name>
        <url-pattern>/OrderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>shop.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>LAB2</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
